@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.8px;
  max-width: 300px;
  text-align: center;
  margin: 3rem auto;
}

#title {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
}

#subtotal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.input-number {
  margin: 1rem 0;
  width: 100%;
  box-sizing: border-box;
  height: 1.8rem;
  border: none;
  border: 2px solid rgba(233, 184, 114, 0.5);
  border-radius: 5px;
  padding: 1rem 0.5rem;
  font-family: inherit;
  font-size: 0.9rem;
  letter-spacing: inherit;
}

.btn {
  border: none;
  background: none;
  margin: 0.5rem 0.5rem;
  padding: 0.6rem;
  border: 2px solid #ececec;
  border-radius: 5px;
  color: white;
  background-color: rgba(233, 184, 114, 0.8);
  font-size: 0.9rem;
  font-weight: 600;
  font-family: inherit;
  transition: ease-in 0.3s;
}

.btn:hover, .btn-clicked {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #ececec;
  color: rgba(233, 184, 114, 1);
}

#custom-tip-btn{
  width: 200px;
}

#custom-tip-section {
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem 0.5rem;
  border: 2px solid #ececec;
  width: 12rem;
  border-radius: 5px;
}

#custom-tip-val {
  width: 11rem;
}

#totals-section {
  margin-top: 2rem;
}

#tip-amt {
  margin: 1rem 0 2rem 0;
  font-size: 2rem;
}

#total-amt {
  margin: 1rem;
  font-size: 3rem;
}

#calculate-btn {
  width: 120px;
  background-color: #ececec;
  color: black;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.section-no-show {
  height: 0;
  opacity: 0;
  transform: translateY(-15px);
  transition: all ease 0.3s;
}

.section-show {
  opacity: 1;
  visibility: visible;
  height: 10rem;
  transform: translateY(15px);
  transition: all ease 0.3s;
}

#pct-amt-tip-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: 2rem;
  width: 5rem;
  border: 2px solid #ececec;
  border-radius: 20px;
  
}

.pct-amt-btn {
  font-family: inherit;
  font-weight: 600;
  border: none;
  background-color: white;
  color: rgba(233, 184, 114, 1);
  flex: 1 1 auto;
  transition: all ease-in 0.2s;
  justify-items: center;
}

.pct-amt-btn:hover, .pct-amt-btn-clicked {
  background-color: rgba(233, 184, 114, 1);
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

#pct-btn {
  font-size: 1rem;
  border-right: 1px solid #ececec;
  border-radius: 20px 0 0 20px;
  line-height: 2rem;
}

#amt-btn {
  font-size: 1rem;
  line-height: 2rem;
  border-left: 1px solid #ececec;
  border-radius: 0 20px 20px 0;
}